<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EthDiagnosticTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting>
            <setting name="SectionName_UDS" serializeAs="String">
                <value>UDS</value>
            </setting>
            <setting name="SectionKeyName_UDS_diagnosticLayerParamsFile"
                serializeAs="String">
                <value>diagnosticLayerParamsFile</value>
            </setting>
            <setting name="SectionKeyValue_UDS_diagnosticLayerParamsFile"
                serializeAs="String">
                <value>diagnosticLayerParams.json</value>
            </setting>
            <setting name="ProductIniFileName" serializeAs="String">
                <value>product.ini</value>
            </setting>
            <setting name="SectionKeyName_UDS_transportLayerParamsFile" serializeAs="String">
                <value>transportLayerParamsFile</value>
            </setting>
            <setting name="SectionKeyValue_UDS_transportLayerParamsFile"
                serializeAs="String">
                <value>transportLayerParams.json</value>
            </setting>
        </EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting>
        <EthDiagnosticTool.Properties.Settings>
            <setting name="ProductConfigFilePath" serializeAs="String">
                <value>../产品配置/products.csv</value>
            </setting>
        </EthDiagnosticTool.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting>
            <setting name="SectionKeyName_UDS_readDidButtonsConfigFile" serializeAs="String">
                <value>readDidButtonsConfigFile</value>
            </setting>
            <setting name="SectionKeyValue_UDS_readDidButtonsConfigFile"
                serializeAs="String">
                <value>readDidButtonsConfig.csv</value>
            </setting>
            <setting name="SectionKeyName_UDS_writeDidButtonsConfigFile"
                serializeAs="String">
                <value>writeDidButtonsConfigFile</value>
            </setting>
            <setting name="SectionKeyValue_UDS_writeDidButtonsConfigFile"
                serializeAs="String">
                <value>writeDidButtonsConfigFile.csv</value>
            </setting>
        </EthDiagnosticTool.ProductManager.Config.ProductIniFileSetting>
    </userSettings>
</configuration>